*{
font-family:verdana;
font-size:13;
}
TitleDetail,Price,OderInfor,Edition{
display:block;
margin-bottom:4;
}
Title{
color: rgb(36,27,160);
font-weight:bold;
}
EditionInfor{
font-weight:bold;
}
Price{
color:rgb(28,87,175);
}
NewPrice,OldPrice{
color:rgb(180,7,7);
margin-left:5;
margin-right:5;
}
NewPrice{
font-weight:bold;
}
OderInfor{
font-size:10;
}
GetDate{
font-weight:bold;
font-size:11;
}
Hours,Minutes{
font-weight:bold;
color:green;
font-size:11;
}
Edition{
font-size:10;
border-bottom:1 dashed gray;
padding-bottom:10;
margin-bottom:7;
}
EditionType{
font-size:10;
color:rbg(29,87,175);
}